#email-body {
  background-color: #efe9d5 !important;
}

#email-header {
  margin: auto;
  max-width: 600px;
  padding: 16px;
  text-align: center;
  color: #333;
}

#email-group {
  text-align: center;
  margin-top: 24px;
}
