[mysqld]
max_allowed_packet=100M

#we don't want STRICT_TRANS_TABLES as it causes a lot of problems with record-macros. https://github.com/HaxeFoundation/record-macros/issues/23
sql-mode='ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
#default in 8 is sql-mode='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'

collation-server = utf8mb4_unicode_ci
#init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4

# in dev mode, you might want to open the database to host by allowing connection from anywhere.
# in production, keep the line commented to prevent database exposure.
# bind-address=0.0.0.0

default-authentication-plugin=mysql_native_password
log-error-verbosity=1
